{{#if resume.publications.length}}
<div class="container publications-container">
    {{#if chinese}}
    {{> title value="出版物"}}
    {{else}}
    {{> title value="Publications"}}
    {{/if}}

    {{#each resume.publications}}
    <section class="item">
        {{> section-header name=this.name website=this.url showWebsite=true }}

        {{#if publisher}}
        <h5 class="awarder">{{publisher}}</h5>
        {{/if}}

        {{#if summary}}
        <p class="summary">{{summary}}</p>
        {{/if}}

    </section>
    {{/each}}
</div>
{{/if}}